.portfolio {
    &__item {
        border: none;
        border-radius: 0px;
        // box-shadow: -20px -20px 60px lighten($body-bg, 10%),
        //             20px 20px 60px darken($body-bg, 10%);
        background-color: darken($body-bg, 2%);
        cursor: pointer;
        transition: .4s ease-in-out;
        color: $gray-darker;
        overflow: hidden;
        .app__dark & {
            background-color: lighten($body-bg-dark, 1%);
            color: $white;
            // box-shadow: -20px -20px 60px lighten($body-bg-dark, 2%),
            //             20px 20px 60px darken($body-bg-dark, 3%);
            border-color: $body-bg-dark;
        }
        &--wrapper {
            margin-bottom: 0px;
            transition: opacity .4s;
        }
        &--fields {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;
            li {
                display: inline-block;
                text-transform: uppercase;
                color: $gray;
                font-size: 12px;
                font-weight: 500;
                margin-right: 5px;
                &:after {
                    content: ',';
                }
                &:last-child {
                    margin-right: 0;
                    &:after {
                        content: '';
                    }
                }
            }
        }
        &--button {
            border: 1px solid $red;
            color: $red;
        }
        .card {
            &-body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0;
                position: relative;
            }
            &-title {
                font-weight: 300;
                font-size: 18px;
                padding: 16px 32px;
                margin: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                padding: 8px 16px;
                background-color: rgba($body-bg-dark, .5);
                box-shadow: -5px -5px 20px rgba($body-bg-dark, .2);
                border-radius: 5px 0 0;
                color: $white;
            }
            &-img {
                width: 100% !important;
                height: 100% !important;
                transition: .4s ease-in-out;
                overflow: hidden;
                position: relative;
                z-index: 1;
                opacity: .5;
                filter: blur(20px);
                object-fit: cover;
                &.loaded {
                    filter: blur(0px);
                    opacity: 1;
                    object-fit: auto;
                }
            }
        }
    }
    &__wrapper {
        max-width: 100% !important;
        padding-left: 80px;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding-left: $grid-gutter-width / 2;
        }
        .portfolio__single & {
            padding-left: $grid-gutter-width / 2;
            max-width: 800px !important;
        }
    }
    // &__grid {
    //     @include media-breakpoint-up(md) {
    //         border-radius: 10px;
    //         box-shadow: 10px 10px 40px rgba($black, .08);
    //         overflow: hidden;
    //     }
    // }
    &__filters {
        &--wrapper {
            margin-bottom: 15px;
            float: left;
            transform: rotate(-90deg);
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 200px;
            margin-left: -260px;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            @include media-breakpoint-down(sm) {
                flex-direction: row;
                position: relative;
                margin: 0 0 30px;
                transform: rotate(0);
                padding: 0 ($grid-gutter-width / 2);
            }
        }
        &--item {
            list-style: none;
            float: left;
            padding: 10px;
            opacity: .5;
            transition: all .4s ease-in-out;
            cursor: pointer;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                width: 0px;
                top: 5px;
                right: 10px;
                background-color: $red;
                transition: width .4s ease-in-out;
                @include media-breakpoint-down(sm) {
                    right: inherit;
                    left: 10px;
                }
            }
            &.active,
            &:hover,
            &:focus {
                opacity: 1;
            }
            &.active {
                color: $red;
                &:after {
                    width: 30%;
                }
            }
            .app__dark & {
                color: $white;
                &.active {
                    color: $red;
                }
            }
        }
    }

    // Single
    &__intro {
        text-align: center;
    }
    &__title {
        font-weight: 700;
        .app__dark & {
            color: $white;
        }
    }
    &__excerpt {
        .app__dark & {
            color: $white;
        }
    }
    &__asset {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 1rem auto;
        &[data-type="image/jpeg"] {
            width: 140%;
            max-width: 140%;
            transform: translateX(-15%);
            border-radius: 10px;
            box-shadow: 0 0 48px rgba(4, 6, 4, .10);
            & + .b-overlay {
                width: 140%;
                transform: translateX(-15%);
                .rounded-sm {
                    border-radius: 10px !important;
                }
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                max-width: 100%;
                transform: translateX(0);
                & + .b-overlay {
                    width: 100%;
                    transform: translateX(0);
                }
            }
        }
    }
    &__category {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 16px;
        background-color: darken($body-bg, 3%);
        margin: 8px;
        transition: .4s ease-in-out;
        .app__dark & {
            background-color: lighten($body-bg-dark, 5%);
            color: rgba($white, .7);
        }
        .portfolio__assets & {
            &:first-child {
                margin-left: 0;
            }
        }
        &--wrapper {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            margin: 0;
            .portfolio__assets & {
                justify-content: flex-start;
            }
        }
    }
    &__content {
        transition: all .4s ease-in-out;
        .app__dark & {
            color: $white;
        }
        h1,
        h2,
        h3 {
            text-transform: uppercase;
            margin-top: 1.5em;
            margin-bottom: 1em;
            font-weight: 700;
        }
        p {
            display: block;
            &:last-child {
                clear: both;
            }
        }
        img {
            display: block;
            width: 100% !important;
            margin: 1rem auto;
            height: auto !important;
            &[src$=".png"] {
                max-width: 700px !important;
            }
            &[src$=".jpg"],
            &[src$=".jpeg"] {
                width: 140% !important;
                max-width: 140% !important;
                transform: translateX(-15%);
                border-radius: 10px;
                box-shadow: 0 0 48px rgba(4, 6, 4, .10);
                @include media-breakpoint-down(sm) {
                    width: 100% !important;
                    max-width: 100% !important;
                    transform: translateX(0);
                }
            }
            @include media-breakpoint-up(md) {
                &:not(.no-fluid) {
                    width: 150% !important;
                    position: relative !important;
                    left: -25% !important;
                }
            }
            &.floating-image {
                display: block;
                width: 300px;
                @include media-breakpoint-down(sm) {
                    max-width: 80% !important;
                    margin-left: auto;
                    margin-right: auto;
                    float: none !important;
                }
            }
        }
    }
}
.list-complete {
    &-enter,
    &-leave-to {
        opacity: 0;
    }
    &-leave-active {
        position: absolute;
    }
}
.module__portfolio {
    .module {
        &__wrapper {
            max-width: 100%;
        }
    }
}